<div class="col-md-4 cost-table">
   
    <h1 class="text-center">Cost</h1>
    <table>
        <tr>
            <td>Package</td>
            <td id="package-cost">$0</td>
        </tr>
        <tr>
            <td>Hotel</td>
            <td id="hotel-cost">$0</td>
        </tr>
        <tr>
            <td>Persons</td>
            <td id="persons-cost">$0</td>
        </tr>
        <tr>
            <td>Coupon Discount</td>
            <td id="coupon-cost">$0</td>
        </tr>
        <tr>
            <td><b>Total Amount</b></td>
            <td><b id="total-amount">$0</b></td>
        </tr>
    </table>
</div>


<div class="text-center">
    <button type="submit" class="btn btn-success">Confirm & Print PDF</button>
</div>