<header id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <h1><img src="content/img/logo.svg" width="50" alt=""> ClickCart </h1>

            <div class="btn-group">
                <a href="#!/Home" class="btn btn-secondary">Home</a>
                <a href="#!/take" class="btn btn-secondary">Orders</a>
                <a href="#!/packages" class="btn btn-secondary">Cart</a>
                <a href="#!/trips" class="btn btn-secondary">Seller</a>
                <a href="#" class="btn btn-secondary">Reviews</a>
                <a href="#!/profile" class="btn btn-secondary">View Profile</a>
                <a href="#!/login" class="btn btn-secondary">Login</a>
                <a href="#!/register" class="btn btn-secondary">Register</a>
                <a href="product_card/index.html" class="btn btn-warning">Offers!!</a>
                <a href="#!/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</header>